<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<!--Header!!-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">ONLINE LIBRARY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/home">ПОЧЕТНА</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/info">ИНФОРМАЦИИ</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/guide">УПАТСТВО</a>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/listBooks">ЛИСТА НА КНИГИ</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form class="form-signin mt-xl-5" method="post" action="/login">
        <h2 class="form-signin-heading">Најава</h2>
        <p>
            <label for="username" class="sr-only">Корисничко име:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Лозинка:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <div th:if="${hasError}">
            <div th:text="${error}" class="text-danger"></div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Најави се</button>
    </form>
    <a href="/register" class="btn btn-block btn-light">Регистрирај се тука</a>
</div>

<!-- Footer -->
<footer class="text-black-50 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-1 col-xl-5">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope mr-2"></i>onlinelibrary@library.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>